.rocket-card {
  display: flex;
  gap: 20px;
}

.rocket-card img {
  width: 200px;
}

.info-rocket {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rocket-card button {
  background-color: var(--button-rockets-background, dodgerblue);
  color: var(--button-rockets-color, white);
  width: 150px;
  padding: 10px 3px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.rocket-reserved {
  background-color: var(--badge-rockets-background);
  color: var(--badge-rockets-color);
  margin-right: 10px;
  padding-inline: 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.rocket-card button:hover {
  font-size: 1.03rem;
  width: 150px;
}

@media (max-width: 390px) {
  .rocket-card {
    flex-direction: column;
  }

  .rocket-card img {
    width: auto;
  }
}
