.reserved-container {
  min-width: 40%;
  margin: 20px;
}

.rockets-reserved {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.reserved-container li {
  margin: 0;
  padding: 10px 40px;
  border-bottom: 1px solid lightgray;
}

.reserved-container li:last-child {
  border: none;
}

@media (max-width: 390px) {
  .reserved-container {
    width: 340px;
    min-width: 300px;
    margin-inline: auto;
  }

  .reserved-container li {
    padding: 10px;
  }
}
